#add_blog.panel.panel-default.card
    table.table
        tr
            td
                textarea.textares(rows='4')
        tr
            td
                .btn-toolbar
                    .btn-group
                        button.btn.btn-default(type='button', data-toggle='modal', href='/blog/new', data-target='#blog_Modal')
                            span.glyphicon.glyphicon-book
                    .btn-group
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-question-sign
                    .btn-group
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-camera
                    .btn-group
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-gift
                    .btn-group
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-bullhorn