#blog_Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='blog_Modal_Label', aria-hidden='true')
    .modal-dialog
        .modal-content
#avatar_Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='avatar_Modal_Label', aria-hidden='true')
    .modal-dialog
        .modal-content