tr
    td
        .card-body
            p.simple #{blog.body}
            //p.hidden.all
            //small
            //    em
            //        a.read-all.pull-right(href='#') 阅读全部
            //        a.hidden.read-simple.pull-right(href='#') 收起