tr
    td
        .card-neck
            ul.list-inline
                li.pull-right
                    small
                        em #吃货秘籍
                li.pull-right
                    small
                        em #woainimen
                li.pull-right
                    small
                        em #haoba
