- var action = '/blog'
    - action += blog.isNew? '/new' : '/' + blog._id
    form#blog.form-horizontal(action=action, method='post', role='form')
        fieldset
            input(type='hidden', name='_csrf', value='#{csrf_token}')
            - if (!blog.isNew)
                input(type="hidden", name="_method", value="PUT")
                input(type="hidden", name="delete", value="false")
            .control-group
                label.control-label(for='body') 文字内容
                .controls
                    textarea#body.textares(name='body', rows='4')
                        | #{blog.body}
            .control-group
                label.control-label(for='tags') 标签
                .controls
                    input.tokenfield(type='text',name='tags', value='#{blog.tags}')
            .control-group
                label.control-label(for='media') 照片
                .controls
                    input#media(name='media', type='file', accept='image/*', multiple)